@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Semi';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}

header{
	width: 100%;
	height: 56px;
	background-color: #26719c;
}
.interior{
	max-width: 100%;
	padding: 0 0x;
	margin: auto;
}

.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 56px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
	margin-top: 10px;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	padding: 12px 20px;
	transition: .3s linear;
	text-decoration: none;
	font-family: 'Poppins';
}
.navegacion ul li a:hover{
	color: #ffffff;
	transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
	display: block;
}
.navegacion .submenu .hijos{
	display: none;
	background: #26719c;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijos li, .buscador{
	display: inline-block;
	
	border-bottom: none;
}
.navegacion .submenu .hijos li a{
	display: block;
}


.navegacion input{
    transform: translate(-50, -50);
}
.navegacion input.src{
    padding: 9px 10px 9px 32px;
	outline: none;
	font-size: 14px;
	border-radius: 15px;
	color: #00c0fa;
	border: 3px solid #84dcff;
	background: #fff url(../imgs/lupa.png) no-repeat 9px center;

	width: 100px;
	transition: all .5s;

}
  
.navegacion input.src:hover{
	width: 180px;
	background-color: #fff;
	border-color: #8c10b3;
	box-shadow: 0 0 5px #6dcff680;
}

.buscador input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 14px;
    border-radius: 15px;
    color: #242525;
    border: 3px solid #1257ab;
    background: rgb(243, 239, 239) url(../imgs/lupa.png) no-repeat 9px center;
    float: inline-end;
    width: 200px;
    transition: all .5s;
    max-width: 100%;
    margin: auto;
}