@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Bebas';
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'Mogen';
    src: url(../fonts/Mogen-Bold.ttf);
}

@font-face {
    font-family: 'iconitos';
    src:  url('../fonts/iconos/icomoon.eot?shfwfm');
    src:  url('../fonts/iconos/icomoon.eot?shfwfm#iefix') format('embedded-opentype'),
      url('../fonts/iconos/icomoon.ttf?shfwfm') format('truetype'),
      url('../fonts/iconos/icomoon.woff?shfwfm') format('woff'),
      url('../fonts/iconos/icomoon.svg?shfwfm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
*{
    font-family: 'Poppins';
}
header {
    position: relative;
    width: 250px;
    height: 90%;
    float:left;
    background-color: black;
    overflow: hidden;
    margin-top: 0px;
}

header a .casa::before{
    font-family: 'iconitos';
    content: '/e976';
}
header .logo{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    background: #1d1d1d

}
header .logo img {
    height: 150px;
    padding: 20px 40px;
}

header .logo .navi ul li a .perfil::before{
    font-family: 'iconitos';
    content: '\e976';
}

header .menuv ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #000;
    margin: 8px 0px;
    border-radius: 30px;
    text-align: left;
    width: 130px;
    display: inline-block;
}

header .cerrar {
    background-color: #444242;
    margin: 5px auto;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    position: revdert;
    left: 30px;
    bottom: 30px;
    width: 100px;
}
header .cerrar a{
    color: white;
}

section {
    align-items: center;
    width: calc(100% - 280px);
    float: right;
}
 section .bienvenida{
    text-align: center;
    padding-inline-start: 10px;
 }

 table {
    border: 1px solid #000;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 10px;
    align-self: center;
    width: 90%;
    padding: 30px;
}
thead {
    text-decoration: #1257ab;
}
tr {
    border:solid 1px #000;
}

footer{
    width: 100%;
    height: 60px;
    overflow: hidden;
}

footer .linea{
    border-top: 1px solid black;
    height: 5px;
    max-width: 100%;
}

footer .redes img{
    width: 25px;
    height: 25px;
}
footer .derechos{
    background: #1257ab;
    width: 100%;
    color:#000;
    text-align: center;
}