
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-image: url(../imgs/Fondo-from-registro.jpg); 
background-size: 100% 100%;
background-attachment: fixed; 
}

/* tamaño y margen del titulo*/
.from h4 {
text-align: center;
font-size: 30px;
margin-bottom: 25px;
}
/* colores y fondo del formulario*/
.from {
width: 490px;
background: #1DA2AC;
padding: 30px;
margin: auto;
margin-top: 9px;
border-radius: 15px;
color: white;
box-shadow: 7px 13px 37px #000;



}
@font-face {
    font-family: 'Audry';
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

.controls{
width: 100%;
background: #BBFAFF;
padding: 10px;
border-radius: 9px;
margin-top: 10px;
border: 1px solid #FFFFFF;
font-family: "Audry";
src: url(../fonts/roboto/Roboto-Regular.ttf);

}
.from p {
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    
}
/*estilo de color y decoracion de los termnos */
.from a {
    color: white;
    text-decoration: none;
    
}
.from a:hover {
    color: white;
    text-decoration: underline;
    
}
.from .boton{
width: 100%;
background: #024C61;
border: none;
padding: 10px;
color: white;
margin: 14px 0;
font-size: 17px;
cursor: pointer;
transition: all 300ms ease;

}
/* efecto de sombre al pasar puntero*/
.from .boton:hover{
    background-color:  #052933;
}
