<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro</title>
    <link rel="shortcut icon" type="image/jpeg" href="{{url_for('static', filename='imgs/Logo-png -1.png')}}">
    
    <link  rel="stylesheet" href="{{url_for('static', filename='css/style-b-navegacion.css')}}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min1.css')}}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/style-caja-flotante.css')}}">
   
    
    
    <header><!--Inicio Barra de Navegacion-->
      <div class="interior">
      
        <nav class="navegacion">
          <ul>
              
              <li><a href="{{url_for('inicio')}}" target="blank">INICIO</a></li>
              <li><a href="{{url_for('contacto')}}" target="blank">Contacto</a></li>
            <li><a href="{{url_for('nosotros')}}" target="blank">Nosotros</a></li>
          </ul>
        </nav>
      </div>
         
    </header> <!--Fin Barra de Navegacion-->
</head>


<body>
<div class="fondo2" id="fondo2">
<div id="fondo" class="flex-center">
   <div class= "container" >
    <h4>Crea tu cuenta Super Airs</h4>
    <form name="addForm" class="form" action="/registro" method="POST">
    <div class="mb-3">
      <div id="alerta"></div>
      

      <div class="row">

        <div class="col">
          <label for="Nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" name="nombre" id="txt_nombre" placeholder="Ingrese su nombre" required>
        </div>
        <div class="col">
          <label for="Apellido" class="form-label">Apellido:</label>
          <input type="text" class="form-control" name="apellido" id="txt_apellido" placeholder="Ingrese su apellido" required>
        </div>
      </div>
    </div>
      <div class="mb-3"> 
      <div class="row">
        <div class="col">
          <label for="Cedula" class="form-label">Cédula:</label>
          <input type="text" class="form-control"  name="cedula" id="txt_cedula" placeholder="Ingrese cédula" required>
        </div>
        
        <div class="col">
          <label for="Telefono" class="form-label">Teléfono:</label>
          <input type="text" class="form-control" name="telefono" id="txt_telefono" placeholder="Teléfono" required>
        </div>
      </div>
    </div>

      <div class="mb-3">
        <div class="row">
        <div class="col">
          <label for="Direccion" class="form-label">Dirección:</label>
          <input type="text" class="form-control" name="direccion" id="txt_direccion" placeholder="Ingrese su Dirección" required>
        </div>
        <div class="col">
          <label for="emali" class="form-label">Correo Electrónico:</label>
          <input type="email" class="form-control" name="correo" id="txt_correo" placeholder="Ingrese su Correo" required>
        </div>
      </div>
      </div>

      <div class="mb-3">
        <label for="pass" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" name="password" id="txt_pass" placeholder="Escriba una contraseña" required>
      </div>
      <div class="mb-3">
        <label for="passconfir" class="form-label">Confirme Contraseña:</label>
        <input type="password" class="form-control" name="confirm-password" id="txt_passconfir" placeholder="Escriba nuevamente la contraseña" required>
      </div>

  <a href="#exampleModal" class="vinculo-termino" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <p>Términos y condiciones Política de privacidad de datos</p>
   </a>


      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit" onclick="validarFormulario();">Registrar</button>
        
      </div> 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Política de privacidad de datos para Super Airs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Política de privacidad
Última actualización: 18 de septiembre de 2022
Esta Política de privacidad describe Nuestras políticas y procedimientos sobre la recopilación, el uso y la divulgación de Su información cuando utiliza el Servicio y le informa sobre Sus derechos de privacidad y cómo la ley lo protege.
Usamos sus datos personales para proporcionar y mejorar el Servicio. Al usar el Servicio, acepta la recopilación y el uso de información de acuerdo con esta Política de privacidad. Esta Política de privacidad se ha creado con la ayuda del Generador de políticas de privacidad de TermsFeed.
Interpretación y Definiciones
Interpretación
Las palabras cuya letra inicial está en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en singular o en plural.
Definiciones
A los efectos de esta Política de Privacidad:
<br>
• Cuenta significa una cuenta única creada para que Usted acceda a nuestro Servicio oa partes de nuestro Servicio.
<br>
• Empresa (referida como "la Empresa", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere a superairs, 584662.
<br>
• Las cookies son pequeños archivos que un sitio web coloca en su computadora, dispositivo móvil o cualquier otro dispositivo, y contienen los detalles de su historial de navegación en ese sitio web entre sus muchos usos.
<br>
• País se refiere a: Colombia
<br>
• Dispositivo significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono celular o una tableta digital.
<br>
• Datos personales es cualquier información relacionada con una persona física identificada o identificable.
<br>
• Servicio se refiere al sitio web.
<br>
• Proveedor de servicios significa cualquier persona física o jurídica que procesa los datos en nombre de la Compañía. Se refiere a empresas de terceros o personas empleadas por la Empresa para facilitar el Servicio, proporcionar el Servicio en nombre de la Empresa, realizar servicios relacionados con el Servicio o ayudar a la Empresa a analizar cómo se utiliza el Servicio.
<br>
• Datos de uso se refiere a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o de la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).
<br>
• El sitio web se refiere a superairs, accesible desde www.superairs.com
<br>

• Usted se refiere a la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.
<br>
Recopilación y uso de sus datos personales
Tipos de datos recopilados
Información personal
Mientras usa Nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede usar para contactarlo o identificarlo. La información de identificación personal puede incluir, entre otros:
<br>
•	Dirección de correo electrónico
<br>
•	Nombre y apellido
<br>
•	Número de teléfono
<br>
• Dirección, estado, provincia, código postal, ciudad
<br>
•	Datos de uso
<br>
Datos de uso
Los Datos de uso se recopilan automáticamente cuando se utiliza el Servicio.
Los datos de uso pueden incluir información como la dirección del protocolo de Internet de su dispositivo (por ejemplo, la dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita, la hora y la fecha de su visita, el tiempo dedicado a esas páginas, dispositivo único identificadores y otros datos de diagnóstico.
Cuando accede al Servicio a través de un dispositivo móvil, podemos recopilar cierta información automáticamente, que incluye, entre otros, el tipo de dispositivo móvil que utiliza, la identificación única de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo, el tipo de navegador de Internet móvil que utiliza, identificadores únicos de dispositivos y otros datos de diagnóstico.
También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio a través de un dispositivo móvil.
Tecnologías de seguimiento y cookies
Usamos Cookies y tecnologías de seguimiento similares para rastrear la actividad en Nuestro Servicio y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar Nuestro Servicio. Las tecnologías que utilizamos pueden incluir:
<br>

Al dar clic en el boton de aceptar usted acepta nuestros terminos y condiciones.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

     

  </form>
</div>

  </div>
    
</div>



<script src="{{url_for('static', filename='js/validar-form-registro.js')}}"></script>
</body>
</html>