<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="shortcut icon" type="image/jpeg" href="{{url_for('static', filename='imgs/Logo-png -1.png')}}">

    <link  rel="stylesheet" href="{{url_for('static', filename='css/style-b-navegacion.css')}}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min1.css')}}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/style-nosotros.css')}}">
    
   

 
    <header><!--Inicio Barra de Navegacion-->
      <div class="interior">

        <nav class="navegacion">
          <ul>
              
              <li><a href="" target="blank">INICIO</a></li>
              <li><a href="" target="blank">Contacto</a></li>
            <li><a href="" target="blank">Nosotros</a></li>
          </ul>
        </nav>
      </div>
         
    </header> <!--Fin Barra de Navegacion-->
</head>
<body>
  <div class="img" id="img">
    <div class="container">
      <div class="fondo">
     <img  src="{{url_for('static', filename='imgs/Logo-png -1.png')}}" width="200"  alt="">
    </div>
    <div class="Titulo">
      <h1 >Nuestra historia es volar</h1> 
      <p> Ha sido afortunado en haberse iniciado en la aviación en una época donde las cosas eran 
        descomplicadas y prácticas. El acceso que tuvo a aviones, pilotos y aeropuertos alimentó 
        y avivó ese entusiasmo. Su trayectoria en la aviación le permitió vivir una pasión encendida 
        de principio a fin: Itinerarios ni rutas establecidas, destinos exóticos y jamás imaginados, 
        pasajeros y cargas poco ortodoxas, vuelos con propósitos de cumplimiento y por último, 
        atisfacción total antes, durante y después de cada vuelo. Una noche sobrevolando el río 
        Magdalena con un cielo estrellado, reconoció que había llegado, que estaba donde siempre 
        quiso estar, en lo suyo. Pero llegar no significa culminar; es el comienzo y sin duda, 
        su pasión por volar continúa.</p>
    </div>
    </div>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
</body>
</html>