<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Airs PC</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/panel.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo-form-piloto.css')}}">
    <link rel="shortcut icon" type="image/jpeg"href="{{url_for('static', filename='imgs/logo/logo2.png')}}">

</head>
<body>
    <header>
        <div class="logo">
            <a href="Index.html"><img src="{{url_for('static', filename='imgs/logo/Logo2.png')}}"alt=""></a>
        </div>
            <div class="menuv">
                <ul>
                    <li><a href="#"><span class="perfil" id="perfil"></span> Perfil</a></li>
                    <li><a href="#"><span class="grupo" id="pilotos"></span> Pilotos</a></li>
                    <li><a href="#"><span class="avion"></span> Vuelos</a></li>
                    <li><a href="#"><span class="u-cliente"></span> Clientes</a></li>
                </ul>
            </div>
            <div class="cerrar">
                <a href="#">Cerrar Sesión</a>
            </div>
        </div>
    </header>
    </div>
    <section>
        <div class="container">
            <div class="banner2">
                <img src="{{url_for('static', filename='imgs/avion.jpg')}}" style="width: 100%;">
            </div>
            <div class="bienvenida">
                <h2>Bienvenido</h2>
                <h3>Administrador: Juan Jacinto Junca</h3>
            </div>
            <div class="filtros">
                <div class="fecha">
                    <input type="date" id="start" name="trip-start"
                        value="2022-09-26"
                        min="2022-09-01" max="2023-12-31">
                </div>
                <div class="agregar" id="agregar">
                    <a href="#"><span class="agrega"></span></a>
                </div>
                <div class="editar">
                    <a href="#"><span class="lapiz"></span></a>
                </div>
                <div class="eliminar">
                    <a href="#"><span class="basura"></span></a>
                </div>
                <div class="buscador">
                    <input type="text" name="search" placeholder="Buscar" class="src" autocomplete="off">
                </div>
                
            </div>
            <div class="tabla1" id="tabla1">
                <table>
                    <thead>
                        <tr>
                            <th>Cod Vuelo</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Piloto</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>V-123</th>
                            <th>Bogota</th>
                            <th>Cali</th>
                            <th>635 Cristobal Castaño</th>
                            <th>Aterrizando</th>
                            <th>27/Sep/2022</th>
                        </tr>
                       
                        <tr>
                            <th>V-123</th>
                            <th>Bogota</th>
                            <th>Cali</th>
                            <th>635 Cristobal Castaño</th>
                            <th>Aterrizando</th>
                            <th>27/Sep/2022</th>
                        </tr>
                        <tr>
                            <th>V-123</th>
                            <th>Bogota</th>
                            <th>Cali</th>
                            <th>635 Cristobal Castaño</th>
                            <th>Aterrizando</th>
                            <th>27/Sep/2022</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="tabla2" id="tabla2">
                    <table>
                        <thead>
                            <tr>
                                <th>Cod</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Cédula</th>
                                <th>Teléfono</th>
                                <th>Direccion</th>
                                <th>Correo</th>
                                <th>Contraseña</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for lista in lista %}
                            <tr>
                                <td>{{lista[0]}}</td>
                                <td>{{lista[1]}}</td>
                                <td>{{lista[2]}}</td>
                                <td>{{lista[3]}}</td>
                                <td>{{lista[4]}}</td>
                                <td>{{lista[5]}}</td>
                                <td>{{lista[6]}}</td>
                                <td>{{lista[7]}}</td>
                                <td>
                                <button class="bot_ver">Ver</button>
                                    <button>Editar</button>
                                <a href="https://www.facebook.com/"target="_blank"><img src="{{url_for('static', filename='/imgs/iconos/facebook.svg')}}"></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="contenido-form">
        <h2>Ingrese datos del nuevo piloto</h2>
            <form action="/PanelControl" method="POST" class="registro-pilotos">
            
                <div class="col">
                  <label for="Nombre" class="form-label">Nombre:</label>
                  <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="col">
                  <label for="Apellido" class="form-label">Apellido:</label>
                  <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ingrese su apellido">
                </div>

                <div class="col">
                  <label for="Cedula" class="form-label">Cédula:</label>
                  <input type="number" class="form-control" name="cedula" id="cedula" placeholder="Ingrese cédula">
                </div>
                <div class="col">
                  <label for="Telefono" class="form-label">Teléfono:</label>
                  <input type="number" class="form-control" name="telefono" id="telefono" placeholder="Teléfono">
                </div>
        
                <div class="col">
                  <label for="Direccion" class="form-label">Dirección:</label>
                  <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingrese su Dirección">
                </div>
                <div class="col">
                  <label for="emali" class="form-label">Correo Electrónico:</label>
                  <input type="email" class="form-control" name="correo" id="correo" placeholder="Ingrese su Correo">
                </div>
                <div class="col">
                    <label for="pass" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" name="password" id="pass" placeholder="Escriba una contraseña">
                </div>
                <div class="col">
                    <label for="Cod_id" class="form-label">Código Id:</label>
                    <input type="text" class="form-control" id="identi" placeholder="Código Id">
                </div>
                
                <div class="boton-re">
                <button type="submit">Registrar</button>
                </div>
            </form>     
        </div>
    </section>

    <footer>
        <div class="linea"></div>
        <div class="redes">
            <p><span class="face"></span><span class="face"></span></p>
            <a href="https://www.facebook.com/"target="_blank"><img src="{{url_for('static', filename='/imgs/iconos/facebook.svg')}}"></a>
            <a href="https://www.instagram.com/"target="_blank"><img src="{{url_for('static', filename='imgs/iconos/instagram.svg')}}"></a>
            <a href="https://www.linkedin.com/"target="_blank"><img src="{{url_for('static', filename='imgs/iconos/linkedin.svg')}}"></a>
            <a href="https://www.whatsapp.com/"target="_blank"><img src="{{url_for('static', filename='imgs/iconos/whatsapp.svg')}}"></a>     
        </div>
        <div class="derechos">
            <p>Super Airs | Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
<script src="{{url_for('static', filename='js/script_pcontrol.js')}}"></script>
</html>